
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet"/>

</head>
<body>
    <p class="">Burası web sayfasının Layout kısmıdır.</p>
    <br />
    <div>
        @RenderBody()
    </div>
</body>
</html>
