
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>

</head>
<body>
    <div style="background-color: palegreen; margin-bottom: 10px; padding: 8px">@ViewBag.deger1</div>
    <div style="background-color: orangered; margin-bottom: 10px; padding: 8px">@ViewBag.deger2</div>
    <div style="background-color: plum; margin-bottom: 10px; padding: 8px">@ViewBag.deger3</div>
</body>
</html>
